<!DOCTYPE html>
<html lang="fr-fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" />
  <title>Twitch Community Reporter</title>
  <script src="https://kit.fontawesome.com/93c6a938c5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <style>
    body {
      background-color: #181818;
      color: white;
    }

    .content,
    .title {
      padding-left: 20px;
      padding-top: 10px;
    }

    .title {
      padding-top: 20px;
      font-size: 27px;
    }

    .important-red {
      color: red;
    }

    .header {
      background-color: #282828;
      border-radius: 20px;
      margin-top: 15px;
      box-shadow: 30px 22px 40px 7px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 30px 22px 40px 7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 30px 22px 40px 7px rgba(0, 0, 0, 0.75);
    }

    button {
      border-radius: 10px;
      font-size: 20px;
    }

    footer {
      text-align: center;
    }

    footer a {
      text-decoration: none;
    }

    footer a:hover {
      color: blue;
      text-decoration: underline;
    }

    input {
      background-color: yellow;
      box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
    }

    select {
      box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 14px 11px 40px 7px rgba(0, 0, 0, 0.5);
    }

    button {
      box-shadow: 14px 11px 25px 7px rgba(0, 0, 0, 0.69);
      -webkit-box-shadow: 14px 11px 25px 7px rgba(0, 0, 0, 0.69);
      -moz-box-shadow: 14px 11px 25px 7px rgba(0, 0, 0, 0.69);
    }

    @media (max-width: 150em) {
      .spaced1 {
        margin-left: 15%;
        margin-right: 15%;
      }
    }

    @media (max-width: 200em) {
      .spaced1 {
        margin-left: 14%;
        margin-right: 14%;
      }
    }

    @media (max-width: 100em) {
      .spaced1 {
        margin-left: 14%;
        margin-right: 14%;
      }
    }

    @media (max-width: 80em) {
      .spaced1 {
        margin-left: 13%;
        margin-right: 13%;
      }
    }

    @media (max-width: 50em) {
      .spaced1 {
        margin-left: 12%;
        margin-right: 12%;
      }
    }

    @media (max-width: 35em) {
      .spaced1 {
        margin-left: 10%;
        margin-right: 10%;
      }
    }

    @media (max-width: 25em) {
      .spaced1 {
        margin-left: 8%;
        margin-right: 8%;
      }
    }

    .title {
      text-align: center;
      align-items: center;
    }

    .pad4 {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .menuLnk {
      color: gray;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1 class="title">Report an Twitch user</h1>
      <br />
    </div>
    <div class="header pad4">
      <a href="/" class="spaced1 menuLnk">Homepage</a><a href="list" class="spaced1 menuLnk">Reports</a><a href="about"
        class="spaced1 menuLnk">About</a>
    </div>
    <br />
    <br>
    <form action="/report" method="post" class="padding">
      <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
      <input type="hidden" name="action" value="validate_captcha">
      <label for="who"><strong class="important-red">*</strong>
        <i class="fas fa-user"></i> - <strong>YOUR</strong> Twitch username :
      </label>
      <input type="text" autocomplete="off" id="who" name="who" class="form-control bg-dark text-white" required
        placeholder="KappaGuy" />
      <br />
      <br>
      <label for="usernameI"><strong class="important-red">*</strong>
        <i class="fas fa-address-card"></i> - The twitch username of the user you want to report :
      </label>
      <input type="username" id="usernameI" name="username" class="form-control bg-dark text-white" required
        placeholder="BadGuy01" />
      <br />
      <br />
      <label for="problemI"><strong class="important-red">*</strong><i class="fas fa-exclamation-circle"></i> -
        What's the problem :
      </label>
      <select name="problem" id="problemI" class="form-control bg-dark text-white" required>
        <option value="Harrassement">Harrassement</option>
        <option value="NSFW">NSFW Content (Gore, Sexual content etc..)</option>
        <option value="Non-respect of Chat Rules">Non-respect of chat rules</option>
        <option value="Spam">Spam</option>
        <option value="Bot / Automated Messages">Bot & Automated messages</option>
      </select>
      <br />
      <br />
      <label for="whereI"><strong class="important-red">*</strong>
        <i class="fas fa-comment-dots"></i> - Where is the problem :
      </label>
      <select name="where" id="whereI" class="form-control bg-dark text-white" required>
        <option value="Username and/or Profile Picture">Username and/or Profile Picture</option>
        <option value="Chat">Chat</option>
        <option value="DMs">DMs</option>
        <option value="Videos">Videos</option>
        <option value="Clips">Clips</option>
        <option value="Streams">Streams</option>
        <option value="Bio">User's Bio (links and text)</option>
      </select>
      <br />
      <br />
      <label for="repetitiveI"><strong class="important-red">*</strong>
        <i class="fas fa-history"></i> - Is it repetitive ?
      </label>
      <select name="repetitive" id="repetitiveI" class="form-control bg-dark text-white" required>
        <option value="Repetitive">Yes</option>
        <option value="Non-Repetitive">No</option>

      </select>
      <br />
      <br />
      <label for="accountsI"><strong class="important-red">*</strong>
        <i class="fas fa-users"></i> - Do you think that the person is using multiple accounts ? (If yes, please specify
        some of them in the next field)
      </label>
      <select name="accounts" id="accountsI" class="form-control bg-dark text-white" required>
        <option value="Has multiple accounts">Yes</option>
        <option value="Hasn't multiple accounts">No</option>

      </select>
      <br />
      <br />
      <label for="moreI">
        Have you something to add ?
      </label>
      <textarea name="more" id="moreI" class="form-control bg-dark text-white"
        placeholder="Put here more info about the problem, for example : you can add the name of several accounts that the person is using."></textarea>
      <br />
      <p class="important-red">
        <strong class="important-red">*</strong> = Required
      </p>
      <br />
      <button type="report" class="btn btn-primary">
        <i class="fas fa-paper-plane"></i> Send
      </button>
      <br />

      <hr />
      <footer>
        <p>Please not use this app maliciously, report people that have been causing problems. This app is not
          affiliated with Twitch or Amazon</p>
        <!-- <p>
            ⭐ - Kindly hosted on
            <a href="https://github.com/azawat7">azawat7's</a> VPS
          </p> -->
        <p>
          Made with ❤ in France by Adloya
        </p>
      </footer>
    </form>
  </div>
</body>

</html>